html, body {
    height: 100vh;
    margin: 0;
    font-family: "Poppins", "sans-serif" !important;
    overflow: hidden;
}
.background-video {
    position: relative;
    height: 100vh;
    width: 100%; 
    overflow: hidden; 
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;  
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
.content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 50%;
}
.content-specific {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 50%;
}
.content-all {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;  
    left: 50%;
}
.title {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 20px;
    margin-bottom: 70px;
}
.heading {
    color: #918071;
    margin: 0;
    font-size: 7rem;
}
.sub-heading {
    color: #fef3ea;
    margin: 0;
    font-size: 3rem;
}
h1, h2 {
    line-height: 1.1;
}
.re {
    color: #fef3ea;
    margin: 0;
    padding: 0;
}
.browseBtn {
    margin-top: 20px;
    background-color: #918071;
    border: 0;
    border-radius: 50px;
    height: 60px;
    width: 270px;
    color: #fef3ea;
    font-family: "Poppins", "sans-serif";
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.browseBtn:hover {
    color: #918071;
    background-color: #fef3ea;
}
.recently-viewed {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    margin: 20px;
}
.recently-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #fef3ea;
    font-weight: bold;
    background-color: #fef3ea54;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid #fef3ea;
    backdrop-filter: blur(15px);
}
.recently-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 30px;
    gap: 30px;
    background-color: #fef3ea54;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
    backdrop-filter: blur(15px);
    overflow-y: scroll;
}
.book, .book  img {
    height: 350px;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.book-section {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.specific-book > img {
    position: relative;
    top: 80px;
    height: 450px;
    width: 350px;
    box-shadow: 0px 4px 15px rgb(0, 0, 0);
    z-index: 1;
}
.specific-book {
    margin-top: 20px;
}
.book-details {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.book-title {
    font-size: 5rem;
    color: #fef3ea;
    margin-bottom: 0;
}
.book-author {
    font-size: 3rem;
    color: #fef3ea;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}
.book-desc {
    color: #fef3ea;
}
.review {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.review-header {
    display: flex;
    justify-content: flex-end;
    height: 150px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #fef3ea54;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 1px solid #fef3ea;
    backdrop-filter: blur(15px);
}
.review-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.get-book {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #918071;
    color: #fef3ea;
    font-size: 1.4rem;
    font-weight: 600;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    transition: 0.3s ease;
}
.get-book:hover {
    background-color: #fef3ea;
    color: #918071;

}
.bmark-and-share {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.bmark-and-share > * {
    width: 90px;
}
.bookmark {
    cursor: pointer;
}
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4); 
    }
    100% {
        transform: scale(1);
    }
}
.bookmarkTrue {
    animation: pop 0.3s ease;
}
.review-desc {
    display: flex;
    padding-top: 30px;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #fef3ea54;
    backdrop-filter: blur(15px);
    color: #fef3ea;
}
.review-wrapper {
    margin-left: 125px;
    margin-right: 125px;
}
.review-edit {
    display: flex;
    align-items: center;
    gap: 10px;
}
.editBook {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.modal-dialog {
    font-family: "Poppins", "sans-serif";
    color: #fef3ea;
}
:root {
    --bs-body-bg: #fef3ea54 !important;
}
.modal-body, .modal-header, .modal-footer {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.modal-body {
    border-radius: 15px;
}
input, textarea {
    border-radius: 15px;
    background-color: #c5beb84b;
    color: #fef3ea;
    border: none;
    outline: none;
    padding: 10px;
}
input::placeholder, textarea::placeholder {
    color: #fef3eaad;
}
.modal-backdrop {
    z-index: 1040 !important;
}
.modal {
    z-index: 1050 !important;
}
.review-wrapper > h1 {
    margin: 0;
    margin-bottom: 10px;
}
.review-content {
    max-height: 270px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff5b; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.all-books-container {
    display: flex;
    flex-direction: column;
    color: #fef3ea;
    height: 700px;
    width: 1500px;
    margin: 20px;
}
.all-books-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-weight: bold;
    background-color: #fef3ea54;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 1px solid #fef3ea;
    backdrop-filter: blur(15px);
}
.all-books-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fef3ea54;
    border-radius: 0px 0px 30px 30px;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
}
.all-books-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    overflow-y: scroll;
    height: 500px;
    width: 97%;
    padding: 10px;
}
.all-book {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    text-align: center;
}
.all-book-img {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 200px;
}
.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9180718f;
    border: 5px solid #918071;
    outline: none;
    height: 300px;
    width: 200px;
    transition: 0.3s ease;
}
.add-book:hover {
    border: 5px solid #ffecdb;
}
#dropdown {
    width: 50px;
    margin-bottom: 20px;
    background-color: #9180718f;
    color: #fef3ea;
    outline: none;
}


@media (max-width: 1539px) {
    .recently-viewed {
        width: 100%;
        height: 400px;
        margin: 50px;
    }
}
@media (max-width: 1565px) {
    .book-title {
        font-size: 4rem;
    }
    .book-author {
        font-size: 2rem;
    }
    .specific-book > img {
        height: 400px;
        width: 300px;
    }
}
@media (max-width: 1450px) {
    .book-title {
        font-size: 3.5rem;
    }
    .book-author {
        font-size: 2.5rem;
    }
    .specific-book > img {
        height: 350px;
        width: 250px;
    }
}
@media (max-width: 1350px) {

    .specific-book > img {
        position: static;
        height: 250px;
        width: 200px;
    }
    .review-buttons {
        width: 100%;
        justify-content: space-evenly;
    }
    .bmark-and-share {
        margin: 0;
    }
    .review-wrapper {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width: 1250px) {
    .specific-book > img {
        height: 300px;
        width: 250px;
    }
    .review-header, .review-desc {
        margin-left: 20px;
        margin-right: 20px;
    }
    .review-wrapper {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width: 800px) {
    .specific-book > img {
        height: 250px;
        width: 200px;
    }
    .book-title {
        font-size: 3rem;
    }
    .book-author {
        font-size: 1.5rem;
    }
}
@media (max-width: 751px) {
    .title {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .heading {
        font-size: 5rem;
    }
    .sub-heading {
        font-size: 1.7rem;
    }
}

@media (max-width: 650px) {
    .book-section {
        margin-bottom: 40px;
    }
    .book-title {
        font-size: 1.5rem;
    }
    .book-author {
        font-size: 1rem;
    }
    .review-content {
        max-height: 350px;
     }
}

@media (max-width: 630px) {
    .book-desc {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .book-section {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .specific-book {
        margin-top: 15px;
    }
    .book-details {
        width: 100%;
    }
    .bmark-and-share {
        height: 40px;
    }
    .get-book {
        width: 120px;
        height: 40px;
        margin-left: 10px;
        font-size: smaller;
    }
    .review-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
    .review-header {
        height: 100px;
    }
    .review-wrapper > h1 {
        font-size: 1.3rem;
    }
    .review-content {
        max-height: 170px;
    }
}
